# Local project files
bin/

# Default ignored files
.idea/shelf/
.idea/workspace.xml
.idea/vcs.xml
# Datasource local storage ignored files
.idea/dataSources/
# Editor-based HTTP Client requests
.idea/httpRequests/
